body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

header {
  background: #c62828;
  color: white;
  padding: 15px;
  font-size: 24px;
}

nav {
  background: #222;
  padding: 10px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background: #e53935;
}

button:hover {
  background: #b71c1c;
}

#search {
  margin: 10px;
  padding: 8px;
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#content {
  padding: 15px;
}

.card {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  text-align: right;
}